.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}
body{
    background:var(--color-bg);
    color: var(--color-white);
}
h1{
    font-size: 35px;
    font-weight: 400;
    color: rgb(218, 5, 5);
    line-height: 30px;
    margin: 1rem 0;
    color-shadow:blueviolet
}
h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color-border);
}
h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color:rgb(218, 145, 10);
    box-sizing: border-box;
}
p{
    color: var(--color-white);
    font-size: 17px;
    line-height: 23px;
}
.btn{
    display: inline-block;
    width: fit-content;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
    transition: .4s ease;
    color: #54f10b;
    border-radius: 6px;
    background-color: #6406f0;
}
.btn:hover{
    background-color: wheat;
    color: var(--color-bg);
    border-color: transparent;
}
.btn-primary{
    display: inline-block;
    width: fit-content;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 500;
    transition: .4s ease;
    color: #54f10b;
    border-radius: 6px;
    background-color: #6406f0;

}

nav{
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
   
}
.nav-container{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
ul{
    display:inline-block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 950px;
    margin-inline-end: 100px;
    padding-inline-start: 40px;
    padding-inline-end: 20px;
}
.logo {
    color: rgb(236, 156, 8);
    font-size: 32px;
}.nav-container{
    color: #dd1414;
    font-size: 16px;
    font-weight: 400;
    transition: .4s ease;
}
.nav-container ul li a:hover{
    color:#dd1414);
}
span{
    color:red;
    text-shadow: 0 0 10px blueviolet;
    text-align: center;
    font-size: 25px;

}
header{
    margin-top: 190px;
}
.header-container{
    display: grid;
    grid-template-columns: 548% 120%;
    align-items: center;
    margin-left: 10%;
}
img{
    width: 10%;
    display: block;
}
.skill-article{
    color: rgb(12, 202, 139);
    background-color: #bf0d0d;
}
.name{
    font-size:  30px; px;
    box-shadow: #5b1bba;
    color: #e40d0d;
}